.character-sheet-main {
    display: flex;
    flex-wrap: wrap;
}

.character-name {
    font-size: 24pt;
    font-family: 'Share';
    font-weight: bold;
}

.character-sheet-section {
    /* flex: 0 1 45%; */
    margin-top: 0.5rem;
    border-radius: 5px;
    .character-sheet-section-title {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 3px;
        font-weight: bold;
        font-size: 16pt;
        text-transform: uppercase;
        background-color: #b0d9b1;
    }
}

.attribute, .skill, .weapons-row, .armors-row, .wounds-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.attribute-label, .skill-label, .weapon-label, .wounds-label, .wounds-info, .armor-name, .weapon-name {
    font-weight: 500;
    font-size: 13pt;
}

.attribute {
    .attribute-label {
        flex: 0 1 20%;
    }
    .attribute-score {
        flex: 0 1 10%;
    }
}

.skill {
    .skill-label {
        flex: 0 1 35%;
        font-weight: 500;
    }
    .skill-attr {
        flex: 0 1 25%;
    }
    .skill-score {
        flex: 0 1 10%;
    }
    .skill-finalscore {
        flex: 0 1 10%;
        font-weight: 500;
    }
}

.weapons-row {
    .weapon-name {
        flex: 0 1 30%;
        max-width: 30%;
    }
    .weapon-value {
        flex: 0 1 7%;
        max-width: 7%;
    }
    .weapon-remove {
        cursor: pointer;
    }
}

.wounds-info {
    display: flex;
    align-items: center;  
}

.wounds-row {
    margin-top: 0.5rem;
    .wounds-label {
        flex: 0 1 30%;
    }
    .wounds-cb {
        flex: 0 1 10%;
    }
}

.armors-row {
    .armor-name {
        flex: 0 1 30%;
        max-width: 30%;
    }
    .armor-value {
        flex: 0 1 10%;
        max-width: 10%;
    }
    .armor-remove {
        cursor: pointer;
    }
}

.dice-icon {
    cursor: pointer;
    color: #d6e4d7;
}

.spacer {
    margin: auto;
}