<div class="character-sheet-outer-container">
    <div class="character-sheet-inner-container" *ngIf="!loading">
        <mat-card>
            <mat-card-header style="display: flex; align-items: center; gap: 1rem;">
                <mat-card-title>
                    <h2 class="character-name">{{characterData.general.name || 'Unnamed Character'}}</h2>
                </mat-card-title>
                <span style="margin: auto;"></span>
                <span *ngIf="dataChanged">There are unsaved changes.</span>
                <button mat-raised-button color="primary" [disabled]="!dataChanged" (click)="onSave()">Save</button>
                <button mat-raised-button color="primary" [disabled]="!dataChanged" (click)="onReset()">Reset</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </mat-card-header>
            <mat-card-content>
                <div class="character-sheet-main">
                    <div style="display: flex; flex-direction: column; flex: 0 1 45%;">
                        <!-- SKILLS -->
                        <fieldset class="character-sheet-section character-sheet-skills">
                            <legend class="character-sheet-section-title">Skills</legend>
                            <div class="skill" *ngFor="let skill of skills">
                                <span class="skill-label">{{skill.title}}</span>
                                <span class="skill-attr">({{skill.attribute | titlecase}})</span>
                                <!-- <span class="skill-score">{{characterData.skills[skill.id]}}</span> -->
                                <mat-form-field class="skill-score" appearance="fill">
                                    <mat-label>{{skill.title}}</mat-label>
                                    <input type="number" matInput placeholder="{{skill.title}}" [(ngModel)]="characterData.skills[skill.id]" (input)="checkForChanges()">
                                </mat-form-field>
                                <span class="skill-finalscore">{{characterData.skills[skill.id] + characterData.attributes[skill.attribute]}}</span>
                                <span class="skill-roll">
                                    <button mat-mini-fab color="primary">
                                        <mat-icon class="dice-icon" (click)="onRoll(skill.title, characterData.skills[skill.id] + characterData.attributes[skill.attribute])">casino</mat-icon>
                                    </button>
                                </span>
                            </div>
                        </fieldset>
                    </div>
                    <div style="display: flex; flex-direction: column; flex: 0 1 45%;">
                        <!-- GENERAL -->
                        <fieldset class="character-sheet-section character-sheet-general">
                            <legend class="character-sheet-section-title">General</legend>
                            <div class="general-field" style="display: flex; flex-wrap: wrap; gap: 1rem;">
                                <mat-form-field class="attribute-score" appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput placeholder="John Doe" [(ngModel)]="characterData.general.name" (input)="checkForChanges()">
                                </mat-form-field>
                                <mat-form-field class="attribute-score" appearance="fill">
                                    <mat-label>Age</mat-label>
                                    <input type="number" matInput placeholder="John Doe" [(ngModel)]="characterData.general.age" (input)="checkForChanges()">
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Caps</mat-label>
                                    <input type="number" matInput [(ngModel)]="characterData.general.caps" (input)="checkForChanges()">
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Radiation</mat-label>
                                    <input type="number" matInput [(ngModel)]="characterData.general.radiation" (input)="checkForChanges()">
                                </mat-form-field>
                            </div>
                        </fieldset>
                        <!-- ATTRIBUTES -->
                        <fieldset class="character-sheet-section character-sheet-attributes">
                            <legend class="character-sheet-section-title">Attributes</legend>
                            <div class="attribute" *ngFor="let attribute of attributes">
                                <span class="attribute-label">{{attribute.display}}</span>
                                <!-- <span class="attribute-score">{{characterData.attributes[attribute.value]}}</span> -->
                                <mat-form-field class="attribute-score" appearance="fill">
                                    <mat-label>{{attribute.display}}</mat-label>
                                    <input type="number" matInput placeholder="{{attribute.display}}" [(ngModel)]="characterData.attributes[attribute.value]" (input)="checkForChanges()">
                                </mat-form-field>
                                <span class="attribute-roll">
                                    <button mat-mini-fab color="primary">
                                        <mat-icon class="dice-icon" (click)="onRoll(attribute.display, characterData.attributes[attribute.value])">casino</mat-icon>
                                    </button>
                                </span>
                            </div>
                        </fieldset>
                        <!-- WOUNDS -->
                        <fieldset class="character-sheet-section character-sheet-wounds">
                            <legend class="character-sheet-section-title">Wounds</legend>
                            <div class="wounds-info">
                                <span>Sebek: {{characterData.wounds}}</span>
                                <span class="spacer"></span>
                                <button mat-raised-button color="primary" [disabled]="!characterData.wounds" (click)="markWounds(null, 0)">Clear</button>
                            </div>
                            <div class="wounds-table">
                                <div class="wounds-row" *ngFor="let index1 of [0,1,2,3,4,5,6,7]">
                                    <span class="wounds-label">Ájulás mentő {{index1 == 0 ? '' : '-' + index1}}</span>
                                    <span class="wounds-cb" *ngFor="let index2 of [1,2,3,4,5]">
                                        <mat-checkbox [checked]="characterData.wounds >= ((index1 * 5) + index2)" (change)="markWounds($event, (index1 * 5) + index2)"></mat-checkbox>
                                    </span>
                                    <span class="wound-roll">
                                        <button mat-mini-fab color="primary" [disabled]="!characterData.wounds || ((characterData.wounds / 5) < index1 || (characterData.wounds / 5) > index1+1)" (click)="onRollWounds(index1)">
                                            <mat-icon class="dice-icon">casino</mat-icon>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <!-- WEAPONS -->
                        <fieldset class="character-sheet-section character-sheet-weapons">
                            <legend class="character-sheet-section-title">Weapons</legend>
                            <div>(WIP)</div>
                            <!-- <div class="weapon">
                                <span class="weapon-label">Test Weapon</span>
                                <span class="weapon-score">12</span>
                                <span class="weapon-damage">4d6+3</span>
                                <button mat-mini-fab color="primary">
                                    <mat-icon class="dice-icon" (click)="onRollDamage('Test Weapon', 4, 3)">casino</mat-icon>
                                </button>
                            </div> -->
                        </fieldset>
                    </div>
                    <div style="display: flex; flex-direction: column; flex: 0 1 100%;">
                        <!-- ARMOR -->
                        <fieldset class="character-sheet-section character-sheet-armor">
                            <legend class="character-sheet-section-title">Armor</legend>
                            <div class="armors-table">
                                <div class="armors-row" *ngIf="characterData.armors.length">
                                    <span class="armor-name">Páncél</span>
                                    <span class="armor-value">Fej</span>
                                    <span class="armor-value">Törzs</span>
                                    <span class="armor-value">Jobb kéz</span>
                                    <span class="armor-value">Bal kéz</span>
                                    <span class="armor-value">Jobb láb</span>
                                    <span class="armor-value">Bal láb</span>
                                </div>
                                <hr *ngIf="characterData.armors.length">
                                <div class="armors-row" *ngFor="let armor of characterData.armors; let i = index">
                                    <span class="armor-name" contenteditable="true" [textContent]="armor.name" (blur)="onArmorEdit($event, i, 'name')">{{armor.name}}</span>
                                    <span class="armor-value" contenteditable="true" [textContent]="armor.currentArmor.head" (blur)="onArmorEdit($event, i, 'currentArmor.head')">{{armor.currentArmor.head}}</span>
                                    <span class="armor-value" contenteditable="true" [textContent]="armor.currentArmor.torso" (blur)="onArmorEdit($event, i, 'currentArmor.torso')">{{armor.currentArmor.torso}}</span>
                                    <span class="armor-value" contenteditable="true" [textContent]="armor.currentArmor.arm_right" (blur)="onArmorEdit($event, i, 'currentArmor.arm_right')">{{armor.currentArmor.arm_right}}</span>
                                    <span class="armor-value" contenteditable="true" [textContent]="armor.currentArmor.arm_left" (blur)="onArmorEdit($event, i, 'currentArmor.arm_left')">{{armor.currentArmor.arm_left}}</span>
                                    <span class="armor-value" contenteditable="true" [textContent]="armor.currentArmor.leg_right" (blur)="onArmorEdit($event, i, 'currentArmor.leg_right')">{{armor.currentArmor.leg_right}}</span>
                                    <span class="armor-value" contenteditable="true" [textContent]="armor.currentArmor.leg_left" (blur)="onArmorEdit($event, i, 'currentArmor.leg_left')">{{armor.currentArmor.leg_left}}</span>
                                    <span class="armor-remove"><mat-icon color="warn" (click)="onArmorDelete(index)">delete</mat-icon></span>
                                </div>                                
                                <div class="armors-row armor-add">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Add new armor</mat-label>
                                        <mat-select id="armorSelect" [(ngModel)]="selection.armor" (selectionChange)="onArmorSelect($event)">
                                            <mat-option *ngFor="let armor of armors" [value]="armor">
                                                {{armor.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div style="display: flex; flex-direction: column; flex: 0 1 100%;">
                        <!-- EQUIPMENT -->
                        <fieldset class="character-sheet-section character-sheet-equipment">
                            <legend class="character-sheet-section-title">Equipment</legend>
                            <div>(WIP)</div>
                        </fieldset>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>