.character-sheet-main {
    display: flex;
    flex-wrap: wrap;
}

.character-sheet-section {
    flex: 0 1 45%;
    margin-top: 0.5rem;
    .character-sheet-section-title {
        border: 1px solid #000;
        border-radius: 3px;
        padding: 3px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.attribute, .skill {
    display: flex;
    gap: 0.5rem;
}

.attribute-label, .skill-label {
    font-weight: 500;
}

.attribute {
    .attribute-label {
        flex: 0 1 20%;
    }
    .attribute-score {
        flex: 0 1 10%;
    }
}

.skill {
    .skill-label {
        flex: 0 1 35%;
    }
    .skill-attr {
        flex: 0 1 25%;
    }
    .skill-score {
        flex: 0 1 10%;
    }
    .skill-finalscore {
        flex: 0 1 10%;
        font-weight: 500;
    }
}

.dice-icon {
    cursor: pointer;
}