
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/* For use in src/lib/core/theming/_palette.scss */
$md-cpfallout01: (
    50 : #ecf6ec,
    100 : #d0e8d0,
    200 : #b0d9b1,
    300 : #90c992,
    400 : #79be7a,
    500 : #61b263,
    600 : #59ab5b,
    700 : #4fa251,
    800 : #459947,
    900 : #338a35,
    A100 : #d4ffd5,
    A200 : #a1ffa4,
    A400 : #6eff72,
    A700 : #55ff59,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$cp-fallout-primary: mat-palette($md-cpfallout01);
$cp-fallout-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cp-fallout-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cp-fallout-theme: mat-light-theme((
  color: (
    primary: $cp-fallout-primary,
    accent: $cp-fallout-accent,
    warn: $cp-fallout-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cp-fallout-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Share:wght@400;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  font-family: 'Share';
}
